java-xml/propertylist.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2010 rel. 2 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="plist">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="array"/>
				<xs:element ref="data"/>
				<xs:element ref="date"/>
				<xs:element ref="dict"/>
				<xs:element ref="real"/>
				<xs:element ref="integer"/>
				<xs:element ref="string"/>
				<xs:element ref="true"/>
				<xs:element ref="false"/>
			</xs:choice>
			<xs:attribute name="version" default="1.0" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="array">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:choice>
					<xs:element ref="array"/>
					<xs:element ref="data"/>
					<xs:element ref="date"/>
					<xs:element ref="dict"/>
					<xs:element ref="real"/>
					<xs:element ref="integer"/>
					<xs:element ref="string"/>
					<xs:element ref="true"/>
					<xs:element ref="false"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dict">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="key"/>
				<xs:choice>
					<xs:element ref="array"/>
					<xs:element ref="data"/>
					<xs:element ref="date"/>
					<xs:element ref="dict"/>
					<xs:element ref="real"/>
					<xs:element ref="integer"/>
					<xs:element ref="string"/>
					<xs:element ref="true"/>
					<xs:element ref="false"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="key">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="string">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="data">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="date">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="true">
		<xs:complexType/>
	</xs:element>
	<xs:element name="false">
		<xs:complexType/>
	</xs:element>
	<xs:element name="real">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="integer">
		<xs:complexType mixed="true"/>
	</xs:element>
</xs:schema>
